<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Olimpiada.Properties.Settings.DB_olimpConnectionString"
            connectionString="Data Source=WIN-N5GEK9BA05S\MSSQLSERVER2;Initial Catalog=DB_olimp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Olimpiada.Properties.Settings.DB_olimpConnectionString1"
            connectionString="Data Source=DESKTOP-SNOUO08\SQLEXPRESS;Initial Catalog=DB_olimp;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Olimpiada.Properties.Settings.DB_olimpConnectionString2"
            connectionString="Data Source=MASHY\SQLEXPRESS;Initial Catalog=DB_olimp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Olimpiada.Properties.Settings.ПарковкаConnectionString"
            connectionString="Data Source=MASHY\SQLEXPRESS;Initial Catalog=Парковка;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>